<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus suscipit nam, nisi officia esse velit consectetur cupiditate inventore expedita a ipsum fugit culpa quo quasi enim iusto et rem nihil.
</p>

<br>

<button class="btn btn-primary" id="estadisticas">Ir a estadísticas</button>

<script>

$(function(){


    $("#estadisticas").click(function(){

        window.location("/estadisticas");
    };)


});

</script>