<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script language="javascript" src="jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/highcharts.css"/>
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css"/>
        <link rel="stylesheet" href="css/select2.min.css"/>
  </head>
  <body>
<!--
    <div class="navbar navbar-inverse bg-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
    </div>
-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="home" href="#">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" id="estadisticas">Estadísticas por CS</a></li>
          <li><a href="#" id="seguimiento">Seguimiento</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      {{{body}}}
    </div>

  <!-- Modal -->
  <div class="modal fade" id="waiting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atención!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          espere un momento por favor...
        </div>
      </div>
    </div>
  </div>
    

  </body>
</html>

<script language="javascript" src="js/bootstrap.min.js"></script>
<script language="javascript" src="js/bootstrap-datepicker.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/select2.min.js"></script>

<script>

$(function(){


    $("#estadisticas").click(function(){

        window.location = "/estadisticas";
    });

    $("#seguimiento").click(function(){

        window.location = "/seguimiento";
    });

    $("#home").click(function(){

        window.location = "/";
    });


});

</script>