<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/highcharts.css"/>
  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
    </div>
    
    <div class="container-fluid">
      {{{body}}}
    </div>

    

  </body>
</html>
<script language="javascript" src="jquery.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>
<script src="js/highcharts.js"></script>